body { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    background-color: grey;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}

button{
    background-color: black;
    color: white;
    min-height: 50px;
    min-width: 100px;
    font-size: large;
    border-radius: 10px;
}

.player-choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.results{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    gap: 0;
    margin: 0;
    border: 0;
}



